<html>
  <head>
    <title>Add Todo</title>
  </head>

  <body>
    <%= if @result do %>
      <h1>Success!!</h1>
    <% end %>

    <form action="create" method="post">
      <p>
        <input type="text" name="key" size="40" maxlength="20">
        <textarea name="text" rows="4" cols="40"></textarea>
      </p>
      <p>
        <input type="submit" value="Add">
      </p>
    </form>
  </body>
</html>
